/**************************/
/*     General Styles     */
/**************************/
body,
html {
    width: 100%;
}

body, p {
	font: 400 1rem/1.375rem "Open Sans", sans-serif;
	color: #2C2C2C;
}

p.small {
	font: 400 0.85rem "Open Sans", sans-serif;
	color: #2C2C2C;
}

h1 {
	color: #2C2C2C;
	font: 400 2.5rem/2.875rem "Miriam Libre", sans-serif;
}

h2 {
	color: #2C2C2C;
	font: 400 2.25rem/2.75rem "Miriam Libre", sans-serif;
}

h3 {
	color: #2C2C2C;
	font: 400 1.75rem/2.125rem "Miriam Libre", sans-serif;
}

h4 {
	color: #2C2C2C;
	font: 400 1.40rem/1.75rem "Miriam Libre", sans-serif;
}

h5 {
	color: #2C2C2C;
	font: 400 1.225rem/1.625rem "Miriam Libre", sans-serif;
}

h6 {
	color: #2C2C2C;
	font: 400 1rem/1.5rem "Miriam Libre", sans-serif;
}

img {
	width: inherit;
}

a.about-links, a.about-links:visited {
	text-decoration: underline;
	text-decoration-color: #FCB6D2;
}

a.about-links:hover {
	color: #2C2C2C;
	text-decoration: underline;
	text-decoration-style: double;
	text-decoration-color: #9B4AFB;
}

h5:hover a {
	color: #2C2C2C;
	text-decoration: underline;
	text-decoration-style: wavy;
	text-decoration-color: #9B4AFB;
	font-weight: 700;
}

a {
	text-decoration: none;
	color: #2C2C2C;
}

a:visited {
	text-decoration: none;
	color: #2C2C2C;
}

.highlight {
	color: #9B4AFB;
}

.fa-stack a:hover {
	color: #9B4AFB;
}

.fa-stack a {
	color: #2C2C2C;
}

#featured-proj-pic {
	cursor: pointer;
}

#featured-proj-pic:hover + #featured-proj-text h5 a {
	color: #2C2C2C;
	text-decoration: underline;
	text-decoration-style: wavy;
	text-decoration-color: #9B4AFB;
	font-weight: 700;
}

.button {
	border-radius: 15px;
    border: 1px solid peachpuff;
    width: fit-content;
    padding: 3px 15px;
    margin: 0 auto;
}

li {
	margin-bottom: 1rem;
}

.container {
	background: #ECFDFF;
    margin-top: 50vh;
    padding-left: 5vw;
    border-radius: 10px;
}

.homepage-feature-pic {
	box-shadow: 5px 5px #FCB6D2;
	border: 1px solid #FCB6D2
}

.subpage-feature-pic {
	box-shadow: 7px 7px #65C5EC;
	border: 1px solid #65C5EC;
	margin-bottom: 3vh;
}

.subpage-feature-box {
	padding: 5vh 2vw;
	background: #ECFDFF;
	box-shadow: 7px 7px #65C5EC;
	border: 1px solid #65C5EC;
}

.faves-box {
	width: 100%;
	margin-top: 5vh;
	box-shadow: 7px 7px #65C5EC;
	border: 1px solid #65C5EC;
}

/*********************/
/*     Navigation    */
/*********************/

.sidenav {
	transition: 800ms ease;
	background: transparent;
	top: 35vh;
	width: 8vw;
	position: fixed;
	right: 9vw;
	text-align: left;
	cursor: pointer;
}

.sidenav.scrolled {
	top: 40vh;
	position: fixed;
	right: 2vw;
}

.topnav.scrolled {
    border-bottom: 1px solid #FCB6D2;
}

.topnav {
	text-align: center;
    padding: 2vh 0vw;
    position: fixed;
    z-index: 99;
    width: 100vw;
    background: #fff;
    top: 0;
}

.topnav a {
	padding-right: 2vw;
	font-size: 0.775rem;
}

.sidenav a, .sidenav a:active, .sidenav a:visited {
	font: 400 1rem/1.25rem "Open Sans", sans-serif;
	text-decoration: none;
	color: #2C2C2C;
}

.sidenav a:hover {
	color: #9B4AFB;
}

.topnav a:hover {
	font: 400 0.775rem/1.25rem "Open Sans", sans-serif;
	text-decoration: none;
	color: #9B4AFB;
}

.topnav a.active-page {
	font: 700 0.775rem/1.25rem "Open Sans", sans-serif;
	color: #9B4AFB;
}

.sidenav .about-link:hover a:after,
.topnav .about-link a:after {
	content: ' 🙋‍♀️';
}

.sidenav .work-link:hover a:after,
.topnav .work-link a:after {
	content: ' ✨';
}

.sidenav .process-link:hover a:after,
.topnav .process-link a:after {
	content: ' 💡';
}

.sidenav .hello-link:hover a:after,
.topnav .hello-link a:after {
	content: ' 👋';
}

.home-link: a:hover {
	font: 700 1rem/1.25rem "Open Sans", sans-serif;
	text-decoration: none;
	color: #9B4AFB;
}


/**********************/
/*       Footer       */
/**********************/
.social-links {
	margin-bottom: 5vh;
    position: relative;
    text-align: center;
    top: 5vh;
    width: 100vw;
}


/*****************************/
/*     20. Media Queries     */
/*****************************/	
/* Min-width width 768px */
@media (min-width: 768px) {
	
	/* General Styles */
	.p-heading {
		width: 85%;
		margin-right: auto;
		margin-left: auto;
	}

	h1 {
		font: 700 3.25rem/3.75rem "Montserrat", sans-serif;
	}
	/* end of general styles */

	/* Header */
	.header .header-content {
		/*padding-top: 11rem;*/
	}
	/* end of header */

}
/* end of min-width width 768px */


/* Min-width width 992px */
@media (min-width: 992px) {

	/* General Styles */
	.p-heading {
		width: 65%;
	}
	/* end of general styles */


	/* Header */
	.header .header-content {
		/*padding-top: 13rem;*/
		padding-bottom: 10rem;
		text-align: left;
	}

	.header .text-container {
		margin-top: 6.5rem;
	}
	/* end of header */
}
/* end of min-width width 992px */


/* Min-width width 1200px */
@media (min-width: 1200px) {
	
	/* General Styles */
	.p-heading {
		width: 44%;
	}
	.container {
		max-width: 1100px;
	}
	/* end of general styles */


	/* Header */
	.header .text-container {
		/*margin-top: 7.5rem;*/
		margin-left: 2.5rem;
	}

	.header .image-container {
		margin-left: 3rem;
	}
	/* end of header */
}
/* end of min-width width 1200px */